<div class="header">
    <div class="header__side-menu-btn"></div>
    <div class="header__main-info">
        <div class="header__main-info__user">
            <div class="header__main-info__user__img"></div>
            <span>USER:<span>user_name</span></span>
        </div>
        <div class="header__main-info__balance">
            <div class="header__main-info__balance__img"></div>
            <span>BALANCE:<span>$ 99.999,00</span></span>
        </div>
        <div class="header__main-info__expenses">
            <div class="header__main-info__expenses__img"></div>
            <span>EXPENSES:<span>$ 1.999,00</span></span>
        </div>
        <div class="header__main-info__date">
            <div class="header__main-info__date__img"></div>
            <span>DATE:<span>12.12.2022</span></span>
        </div>
    </div>
</div>